<!DOCTYPE html>
 <html>
 <head>
 <title>Home</title>
 <style>

  body{
   background-image: url('/static/2.jpg');
   background-size: cover;
   text-align: center;
  }

  a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  }

  a:hover, a:active {
  background-color: red;
  }

 </style>
 </head>
 <body>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      {{ message }}
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

 <br><br><h1> Student Management System </h1>
 <br><br><a href="{{ url_for('add_item') }}">Add Student</a><br><br>
 <br><br><a href ="{{ url_for('student_info') }}">View Student Detials</a><br><br>
 <br><br><a href="{{ url_for('query_item') }}">Update or Delete</a><br><br>
 

 <br><br><a href ="{{ url_for('check_info') }}">Test Details</a><br><br>
 
 <br><br><a href="{{ url_for('logout') }}">Logout</a><br><br>
 

 </body>
 </html>
